@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

body { 
	font-family: 'Helvetica', serif;
	background: rgba(0, 0, 0, .3);
	color: #000000;
	text-decoration: normal;

}
h1 {
	color: #000000;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	

}
#slogan {
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	text-transform: uppercase;
}
p {
	text-align:left;
}

