body { 
	background: rgba(0, 0, 0, .3);
	color: #000000;
	font-family: Helvetica;

}
h1 {
	color: #000000;
	font-family: Helvetica;
	text-align: center;
	text-transform: lowercase;

}
#slogan {
	font-style: italic;
	text-align: center;
	text-transform: uppercase;

}

p {
	text-align:left;

}
#classproject {
	img align="center"
}
