body {
	background-color: #ffffff;
	font-family: 'Arimo', sans-serif;
	font-size: 14px;
}

#hero {
	width: 100%;
	padding: 10px;
	align: center;
}

nav {
	background-color: #E6ECF5;
	font-family: Helvitca, sans-serif;
	color: #ffffff;
	width:90%;
}

a {
	background-color: #003D99;
	color: #ffffff;
	text-decoration: none;
	display: block;
	float: left;
	padding: 50px;
	}
.cleafix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
a:hover {
	background-color:#E6ECF5;
	color: #000000;
}

#content {
	background-color: #003D99; 
	display: block;
	float: left;
	padding:20px;
	width:50%;
	
}

footer{ 
	background-color: #003D99;
	color: #ffffff;
	float: bottom;
}