body {
	background-color: #E6ECF5;
	font-family: 'Arimo', sans-serif;
	font-size: 10px;
	width:100%;
}

#hero {
	padding: 20px;
	align: center;
	margin: auto;

}

nav {
	background-color: #003D99;
	font-family: Helvitca, sans-serif;
	color: #ffffff;
}

a {
	background-color: #003D99;
	color: #ffffff;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
	font-size: 14px;
	}
.cleafix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
a:hover {
	background-color:#E6ECF5;
	color: #000000;
}

#content {
	background-color: #ffffff;
	display: block;
	padding:50px;
	height: 10%;

	
}
#id {
	background-color: #ffffff;
	display: block;
	padding: 50px;
	float: none;
}

footer{ 
	background-color: #003D99;
	color: #ffffff;
	height: 10%;
}